.boxedtable {

    background-color: inherit;
    border-collapse:collapse;
}

.boxedtable td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.version {
visibility:hidden;
}

.strike {
    text-decoration: line-through;
}

.ProfjType      { color: #770044; }
.ProfjPrimType { color: #770044; }
.ProfjKeyword   { color: #770044; }
.ProfjString    { color: #0000ff; }
.ProfjLiteral   { color: #67737b; }
.ProfjConstant  { color: #2A959d; }
.ProfjComment   { color: #007700; }
.ProfjBlockComment { color: #007700; }

.RktKw  { color: #000077 !important; }
.RktSym { color: #000077 !important; }

.IncerciseBody {
  padding: 0px 0px 0.5em 10px;
  border-left-style: solid;
  border-width: 5px;
  border-color: red;
  background-color: #ffebcd;
}

.ExerciseBody {
  padding: 0px 0px 0.5em 10px;
  border-left-style: solid;
  border-width: 5px;
  border-color: orange;
  background-color: #ffebcd;
}

.Incercise {
   font-weight: bold;
   font-style: italic;
   background-color: #ff7667;
   padding: 5px 0px 5px 10px;
   margin-left: -10px;
}

.Exercise {
   font-weight: bold;
   background-color: #ffb167;
   padding: 5px 0px 5px 10px;
   margin-left: -10px;
}

.InsetSpan {
   margin-left: 2em;
   display: block;
}

.PaddedTable blockquote.SCentered {
   padding: 0;
   margin: 1em;
}

.versionbox {
   display: none !important;
}

.stt .MathJax_Display {
   font-size: 1.18rem;
}

h1 .RktIn, h2 .RktIn, h3 .RktIn, h4 .RktIn, h5 .RktIn, h6 .RktIn,
h1 .RktRdr, h2 .RktRdr, h3 .RktRdr, h4 .RktRdr, h5 .RktRdr, h6 .RktRdr,
h1 .RktPn, h2 .RktPn, h3 .RktPn, h4 .RktPn, h5 .RktPn, h6 .RktPn,
h1 .RktMeta, h2 .RktMeta, h3 .RktMeta, h4 .RktMeta, h5 .RktMeta, h6 .RktMeta,
h1 .RktMod, h2 .RktMod, h3 .RktMod, h4 .RktMod, h5 .RktMod, h6 .RktMod,
h1 .RktKw, h2 .RktKw, h3 .RktKw, h4 .RktKw, h5 .RktKw, h6 .RktKw,
h1 .RktVar, h2 .RktVar, h3 .RktVar, h4 .RktVar, h5 .RktVar, h6 .RktVar,
h1 .RktSym, h2 .RktSym, h3 .RktSym, h4 .RktSym, h5 .RktSym, h6 .RktSym,
h1 .RktRes, h2 .RktRes, h3 .RktRes, h4 .RktRes, h5 .RktRes, h6 .RktRes,
h1 .RktOut, h2 .RktOut, h3 .RktOut, h4 .RktOut, h5 .RktOut, h6 .RktOut,
h1 .RktCmt, h2 .RktCmt, h3 .RktCmt, h4 .RktCmt, h5 .RktCmt, h6 .RktCmt,
h1 .RktVal, h2 .RktVal, h3 .RktVal, h4 .RktVal, h5 .RktVal, h6 .RktVal,
h1 .RktBlk, h2 .RktBlk, h3 .RktBlk, h4 .RktBlk, h5 .RktBlk, h6 .RktBlk,
h1 .RktErr, h2 .RktErr, h3 .RktErr, h4 .RktErr, h5 .RktErr, h6 .RktErr {
   font-size: inherit;
}

#tocview_1 tr > td:first-child { display: none; }

.AsciiArt {
   font-family: "Source Code Pro",monospace;
   font-size: 1rem; 
}
.SmallerVerb {
   font-family: "Source Code Pro",monospace;
   font-size: 75%;
}


@media all and (max-width: 720px) {
   div.topbar {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-top: 1rem;      
   }
   div.topbar > a {
      padding-left: 1em;
   }
   div.topbar div.tocset {
      display: block;
      position: initial;
      padding-top: 0.5rem;
   }
   div.topbar div.tocset table { display: table; }
   div.topbar div.tocset tbody { display: table-row-group; }
   div.topbar div.tocset tr { display: table-row; }
   div.topbar div.tocset td { display: table-cell; }
   div.topbar div.tocview { display: initial; }
   div.topbar.hidden div.tocview { display: none; }
   div.topbar.hidden div.tocset { display: none; }
   div.topbar div.tocset a { padding: 0; }
}

@media all and (min-width: 720px) { div.topbar { display: none; } }
